header {
    text-align: center;
}

nav {
    margin-left: 10%;
}

main {
    text-align: center;
}

section {
    width: 50%;
    margin-left: 50mm;
    text-align: left;
}

footer {
    text-align: right;
    margin-right: 5%;
}
ol a:hover {
    color: brown;
}

footer {
    background-color: rgb(192, 192, 192);
}